<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skirpsi.sirkulasiproject">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".MenuMateri" />
        <activity android:name=".Tentang" />
        <activity android:name=".Kurikulum" />
        <activity android:name=".SliderDarah" />
        <activity android:name=".PembekuanDarah" />
        <activity android:name=".GolonganDarah" />
        <activity android:name=".MenuQuiz" />
        <activity android:name=".KemungkinanGolongan" />
        <activity android:name=".KurikulumScroll" />
        <activity android:name=".TentangScroll" />
        <activity android:name=".MenuQuizS"></activity>
    </application>

</manifest>